<app-header></app-header>

<div class="contain-user-management">

    <button (click)="test()">Test</button>

    <app-item-management-actions (dataEvent)="openForm($event)">

    </app-item-management-actions>

    <hr class="custom-horizontal-line">

    <app-admin-banner [userRoleStatistics]="userRoleStatistics"></app-admin-banner>

    <hr class="custom-horizontal-line">

    <app-user-management-table></app-user-management-table>

</div>

<!-- ===== CHILD COMPONENTS ==== -->

<!-- Export user template -->
<app-export-template *ngIf="formState.exportUserTemplate.visible"
    (dataEvent)="onReceiveDataFromForm($event.formName, $event.action, $event.data)">
</app-export-template>

<!-- Import template component -->
<app-import-template *ngIf="formState.importUsers.visible"
    (dataEvent)="onReceiveDataFromForm($event.formName, $event.action, $event.data)">
</app-import-template>

<!-- Create new user component -->
<app-create-new-user *ngIf="formState.createUser.visible"
    (dataEvent)="onReceiveDataFromForm($event.formName, $event.action, $event.data)">
</app-create-new-user>
